body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #faf9f6 url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iI2ZhZjlmNiIvPjxwYXRoIGQ9Ik0wIDAgTDMwMCAzMDBMMCAzMDBMMCAweiIgc3Ryb2tlPSJub25lIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIG9wYWNpdHk9IjAuMDUiLz48L3N2Zz4=') repeat;
  color: #333;
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 20px;
}
.header-links a:hover {
  background-color: beige;
  color: black;
  border-radius: 10px;
}
.header-links .login-button {
  display: inline-block;
  padding: 0 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}
.header-links .login-button:hover {
  background-color: beige;
  color: black;
  border-radius: 10px;
}
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-name {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  color: black;
}
.content h1 {
  text-align: center;
  margin: 20px;
  font-size: 36px;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.sidebar {
  width: 200px;
  padding: 0 20px;
  border: none;
  border-radius: 20px;
}
.category-card {
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 10px;
}
.category-card img {
  width: 100%;
  border-radius: 10px;
}
.category-card:hover {
  background-color: beige;
  color: black;
  border-radius: 10px;
  transform: scale(1.2);
}
.category-card h3 {
  text-align: center;
  font-size: 18px;
  padding: 0 20px;
}
.product-grid {
  display: flex;
  gap: 10px;
}
.product-card img{
  width: 100%;
  border-radius: 20px;
}
.product-card {
  border-radius: 20px;
  padding: 20px;
}
.product-card h3{
    font-size: 18px;
    margin: 10px 0;
    align-items: center;
    padding: 0 30px;
}
.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.product-card span {
  font-size: 18px;
  cursor: pointer;
}